.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: #fffbf2;
    height: 70px;
    color: black;
    position: sticky;
    width: 100%;
    top: 0;
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 25px;
  }
  
  .nav-links a {
    margin: 0 3px;
    margin-top: 25px;
    text-decoration: none;
    color: black;
  }
