.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #ffffff;
    color: black;
    position: sticky;
    top: 0;
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .nav-links a {
    margin: 0 5px;
    text-decoration: none;
    color: black;
  }
/* 
  .nav-links h4::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    background: black;
    transition: width 0.3s;
    left: 0;
    bottom: 23px;
  }
  
  .nav-links h4::after,
  .nav-links h4::after{
    width: 100%;
  }

  .nav-links h4.active {
    color: black;
  } */