/* .vans-dashboard-container {
  background-color: #fdf4e6;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vans-sub-nav {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sub-nav-link {
  font-size: 16px;
  text-decoration: none;
  color: inherit;
  padding-bottom: 5px;
}

.sub-nav-link.active {
  border-bottom: 2px solid black;
}

.vans-dashboard-main {
  width: 100%;
  max-width: 800px;
}

.vans-dashboard-main h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filters button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #d4af37;
  cursor: pointer;
}

.filters button.active {
  background-color: #d44e37; /* Gold color for active filter */
 /* color: white;
}

.allvans {
  background-color: white;
  width: 120px;
  margin: 0px;
}

.allvans .back-link {
  font-size: 12px;
  color: black;
}

.van-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.van-card {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: left;
}

.van-card img {
  max-width: 100%;
  height: auto;
}

.van-info {
  padding: 10px;
}

.van-info h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
}

.van-info p {
  margin: 0;
  font-weight: bold;
}

.tag {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  color: white;
}

.tag.simple {*/
 /* background-color: #ffa07a; /* Light salmon for Simple */
/*}

.tag.luxury {
  background-color: #d4af37; /* Gold for Luxury */
/*}

.tag.rugged {
  background-color: #228b22; /* Forest green for Rugged */
/*}*/ 

/*.selected-van-info {
  margin-top: 40px;
  text-align: center;
}

.selected-van-info img {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.van-card {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.van-card:hover {
  transform: scale(1.05);
}