body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}


.van-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template: row;
  align-items: center;


  @media (min-width: 1201px) and (max-width: 1500px) {
    grid-template-columns: repeat(6, 1fr);
  }
  
  @media (min-width: 895px) and (max-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 635px) and (max-width: 894px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 435px) and (max-width: 634px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 200px) and (max-width: 434px) {
    grid-template-columns: 1fr;
  }

}

.van-item {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.van-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.van-item img {
  width: 100px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;

  @media (max-width: 768px) {
    .van-item img {
      width: 80%;
      height: auto;
    }
  }
  
  @media (max-width: 480px) {
    .van-item img {
      width: 60%;
      height: auto;
    }
  }

  @media (max-width: 290px) {
    .van-item img {
      width: 50%;
      height: auto;
    }
  }
}

.van-info {
  display: flex;
  flex-direction: column;
}

.van-info h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.van-info p {
  margin: 5px 0;
  color: #666;
}

.van-details {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 20px;
  background-color: #fff;
}

.van-details img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.van-nav {
  margin-top: 20px;
}

.van-nav-link {
  margin-right: 10px;
  text-decoration: none;
  color: #007bff;
}

.van-nav-link:hover {
  text-decoration: underline;
}

.back-link {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #007bff;
}

.back-link:hover {
  text-decoration: underline;
}

/* .van.image{
  @media (min-width: 1201px) and (max-width: 1500px) {
    width: 100%;
    height: auto;
  }
  
  @media (min-width: 895px) and (max-width: 1200px) {
    width: 100%;
    height: auto;
  }

  @media (min-width: 635px) and (max-width: 894px) {
    width: 90%;
    height: auto;
  }

  @media (min-width: 435px) and (max-width: 634px) {
    width: 80%;
    height: auto;
  }

  @media (min-width: 200px) and (max-width: 434px) {
    width: 50%;
    height: auto;
  }
} */